
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
        <form th:action="@{/book/add}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">Informacije o novoj knjizi:
					<span style="font-size: small"> * Obavezno polje</span></legend>

                <!-- title -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="title">* Naslov</label>

                    <div class="col-md-8">
                        <input type="text" name="title" class="form-control" id="title" th:value="${book.title}"
                               required="required" placeholder="Title"/>
                        <span class="text-muted">Naslov knjige</span>
                    </div>
                </div>

                <!-- author -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="author">* Autor</label>

                    <div class="col-md-8">
                        <input type="text" name="author" class="form-control" id="author" th:value="${book.author}"
                               required="required" placeholder="Author"/>
                        <span class="text-muted">Autor knjige</span>
                    </div>
                </div>

                <!-- publisher -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="publisher">Izdavač</label>

                    <div class="col-md-8">
                        <input type="text" name="publisher" class="form-control" id="publisher"
                               th:value="${book.publisher}" placeholder="Publisher"/>
                        <span class="text-muted">Izdavač knjige</span>
                    </div>
                </div>

                <!-- publication date -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="publicationDate">Datum izdavanja knjige</label>

                    <div class="col-md-8">
                        <input type="date" class="form-control" id="publicationDate" name="publicationDate"
                               th:value="${book.publicationDate}" placeholder="ublication Date"/>
                        <span class="text-muted">Datum izdavanja knjige</span>
                    </div>
                </div>

                <!-- language -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="language">Jezik</label>

                    <div class="col-md-8">
                        <select th:value="${book.language}" id="language" name="language" class="form-control">
							<option value="bosanski">Bosanski</option>
							<option value="strani">Strani</option>
                        </select>
                    </div>
                </div>

                <!-- category -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="category">*
                        Category</label>
                    <div class="col-md-8">
                        <select th:value="${book.category}" id="category" name="category" class="form-control">
                            <option value="" selected="selected" disabled="disabled">Molimo odaberite kategoriju knjige...</option>
                            <option value="Manadzment" th:selected="(${book.category}=='Menadzment')">Menadžment</option>
                            <option value="Fikcija" th:selected="(${book.category}=='Fikcija')">Fikcija</option>
                            <option value="Vjerske" th:selected="(${book.category}=='Vjerske')">Vjerske</option>
                            <option value="Programiranje" th:selected="(${book.category}=='Programiranje')">Programiranje</option>
                            <option value="Knjizevnost" th:selected="(${book.category}=='Knjizevnost')">Knjizevnost</option>
                        </select>
                    </div>
                </div>

                <!-- pages -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="pageNumber">Strane</label>

                    <div class="col-md-8">
                        <input type="number" name="numberOfPages" class="form-control" id="pageNumber"
                               th:value="${book.numberOfPages}" placeholder="Page Number"/>
                        <span class="text-muted">Broj strana</span>
                    </div>
                </div>

                <!-- format -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="format">Format</label>

                    <div class="col-md-8">
                        <select th:value="${book.format}" id="format" name="format" class="form-control">
                            <option value="Tvrde korice">Meki uvez</option>
                            <option value="Meki uvez">Tvrde korice</option>
                        </select>
                    </div>
                </div>

                <!-- isbn -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="isbn">ISBN</label>

					<div class="col-md-8">
						<input type="text" name="isbn" class="form-control" id="isbn"
							   th:value="${book.isbn}" placeholder="ISBN" /> <span
							class="help-block">ISBN knjige</span>
					</div>
				</div>

                <!-- shipping weight -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="shippingWeight">Shipping Weight</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <input th:value="${book.shippingWeight}" type="number" name="shippingWeight" step="0.01"
                                   class="form-control" id="shippingWeight" placeholder="Shipping Weight"/>
                            <div class="input-group-append">
                                <span class="input-group-text">kg's</span>
                            </div>
                        </div>
                        <span class="text-muted">Težina knjige u kilogramima</span>
                    </div>
                </div>

                <!-- price -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="price">Cijena</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input th:value="${book.price}" type="number" name="price" step="0.01"
                                   class="form-control" id="price" placeholder="List Price"/>
                        </div>
                        <span class="text-muted">Cijena knjige</span>
                    </div>
                </div>


                <!-- in stock number -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="inStockNumber">Količina</label>

                    <div class="col-md-8">
                        <input th:value="${book.inStockNumber}" type="number" name="inStockNumber" class="form-control"
                               id="inStockNumber" placeholder="Number of in-stock copies"/>
                        <span class="text-muted">Količina knjiga</span>
                    </div>
                </div>

                <!-- status of book -->
                <div class="form-group row">
                    <!--<label class="col-md-2 col-form-label"for="status">Status</label>-->
                    <label class="col-md-2 col-form-label">Status</label>

                    <div class="col-md-8">
                        <div>
                            <label><input value="true" type="radio" name="active" checked="checked"/>Dostupno</label>
                            <label><input value="false" type="radio" name="active"/>Nedostupno</label>
                        </div>
                        <span class="text-muted">Dostupnost knjige</span>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="description">Opis</label>

                    <div class="col-md-8">
                        <textarea name="description" class="form-control" rows="5" id="description"
                                  th:value="${book.description}" placeholder="Description"></textarea>
                        <span class="text-muted">Opis knjige</span>
                    </div>
                </div>

                <!-- upload image -->
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="bookImage">Dodaj sliku knjige</label>
                    </div>
                    <div class="col-md-8">
                        <input id="bookImage" style=" background: #e79292;
  color: #000000;
  padding: 1em;"
							   type="file" name="bookImage" th:value="${book.bookImage}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-8 row">
                        <button type="submit" class="btn btn-success">Add Book</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
